@font-face {
  font-family: Segoe UI Light;
  src: url(fonts/segoeuil.ttf);
}

* 
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

html,
body 
{
  font-family: 'Segoe UI Light';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after 
{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] 
{
    float: left;
    padding: 15px;
}

 /*header*/
/*------*/

.navigasi 
{
 /* background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  min-height: 10%;
  width: auto !important;
  min-width: 100%;
  position: fixed;
  z-index: 99;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.slide img
{
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.navigasi img
{
  width: 30vh;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-left: 20px;
}

.scrolled {
  background: #f7faff;
  box-shadow: 0px -7px 20px 1px #444;
}

.scrolled .topnav a {
  color: black;
}

.sidenav {
  text-align: center;
  font-family: "Segoe UI Light";
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 200; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Segoe UI Light";
  padding: 15px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#container{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px; font-family: "Segoe UI Light";}
}

/* Slideshow container */
.slideshow-container 
{
  position: relative;
  margin: auto;
  height: auto !important;
  min-height: 100%;
  
}

.slide 
{
    display: none;
    height: auto !important;
  min-height: 100%;
}

.slideContent
{
  display: none;
  height: auto !important;
  min-height: 100%;
}

/* Next & previous buttons */
.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  z-index: 2;
}

/* next at the right position */
.next 
{
  right: 0;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* Create a hover in the next and prev */
.prev:hover, .next:hover 
{
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text 
{
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 60%;
  width: 100%;
  text-align: center;
  z-index: 2;
  
}


/* The dots/bullets/indicators */
.dot 
{
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover 
{
  background-color: #717171;
}

.page_num 
{
  display: inline-block;
  background-color: #FFFFFF;
  text-decoration: none;
  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  padding: 0.5% 0.5%;
}

.flpage_num
{
  display: inline-block;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 0.5% 0.5%;
}

.flpage_num:hover
{
  background-color: #d53d5f;
}

.active, .page_num:hover 
{
  background-color: #d53d5f;
}

/* Fading animation */
.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@-webkit-keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}


.titik2
{
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

.btn
{
  background-color: #d53d5f;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  bottom: 40%;
  margin-left: 40%;
  width: 20%;
  z-index: 2;
    
}

.header-overlay
{
  position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #080d15;
    opacity: .5;
}

.topnav 
{
  overflow: hidden;
  float: right;
  z-index: 2;
}

.topnav a 
{
    
  float: left;
  display: block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 25px;
}

.topnav .icon 
{
  display: none;
}

/*body*/
#body
{
  padding-top: 50px;
}

.slideshow-gallery
{
  max-width: 100%;
  position: relative;
  margin: auto;
  
}

#lookAtGallery
{
  padding-bottom: 50px;
}
.content1-3
{
  width: 88%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content2
{
  width: 88%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.col-6 p
{
  font-size: 16.5px;
}

.col-3 h1
{
    
  font-size:35px;
}

.col-3 img
{
  float: right;
  width: 95%;
}


.btn-content
{
  background-color: #d53d5f;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 10px 27px;
  text-decoration: none;
  display: inline-block;
}

#body-container
{
  width: 959px;
  margin: 0 auto;
}

/* Slide animation */
.slidein 
{
  -webkit-animation-name: slidein;
  -webkit-animation-duration: 1.5s;
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}

@-webkit-keyframes slidein 
{
  from {opacity: 0;
        -webkit-transform:translateX(10%);} 
  to {opacity: 1;
        -webkit-transform:translateX(0%);}
}

@keyframes slidein 
{
  from {opacity: 0;
        -webkit-transform:translateX(10%);} 
  to {opacity: 1;
        -webkit-transform:translateX(0%);}
}

#pagenum
{
  padding-bottom: 100px;
}

/*gallery*/
#gallery
{
  background-color: #d53d5f;
  position: relative;
}

#gallery .col-12 h1
{
  padding-top: 40px;
  color: white;
    
  text-align: center;
}

.gallery-container
{
  width: 88%;
  margin: auto;
  position: relative;
}

div.gambar img 
{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px #222;
}

div.desc 
{
    padding: 15px;
    text-align: center;
    font-family: "Segoe UI Light";
    color: white;
}

.foto-container 
{
    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 667px)
{
    .col-3 {width: 100%;}
    .col-6 {width: 100%;}
    .foto-container 
    {
        width: 100%;
    }

    .maine
    {
      display: flex;
      flex-direction: column;
    }

    .maine2
    {
      display: flex;
      flex-direction: column;
    }

    .col-3 h1
    {
      width: 100%;
      order: 1;
    }

    .col-6
    {
      width: 100%;
      order: 2;
    }

    .col-3 img
    {
      width: 100%;
      order: 3;
    }

    .main2 .col-3:nth-child(2)  {order: 1; width: 100%;}

    .main2 .col-6:nth-child(3)  {order: 3; width: 100%; }

    .main2 .col-3:nth-child(1)  {order: 2; width: 100%;}

    .text
    {
      font-size: 20px;
  
    }
}

@media only screen and (max-width: 800px)
{
    .col-3 {width: 100%;}
    .col-6 {width: 100%;}
    .foto-container 
    {
        width: 49.99999%;
        margin: 6px 0;  
    }

    .maine
    {
      display: flex;
      flex-direction: column;
    }

    .maine2
    {
      display: flex;
      flex-direction: column;
    }

    .col-3 h1
    {
      width: 100%;
      order: 1;
    }

    .col-6
    {
      width: 100%;
      order: 2;
    }

    .col-3 img
    {
      width: 100%;
      order: 3;
      border-radius: 10px;
    }

    
    .maine2 .col-3:nth-child(2)  {order: 1; width: 100%;}

    .maine2 .col-6:nth-child(3)  {order: 3; width: 100%; }

    .maine2 .col-3:nth-child(1)  {order: 2; width: 100%;}

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*about*/
#lookAtDev
{
  padding-top: 50px;
}
.about-container
{

  position: relative;
  width: 88%;
  margin:auto;
  text-align: center;
  font-family: "Segoe UI Light";
}

.col-4 button
{
  background-color: #d53d5f;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center; 
  font-family: "Segoe UI Light";
}

/*footer*/
#footer
{
  margin: 0px;
  color: #CCC;
  padding: 30px 0 30px 0;
  background-color: #333;
  text-align:center;
  font-family: "Segoe UI Light";
}

#footer ul {
  padding: 10px;
  list-style-type: none;
  text-align: center;
  font-family: "Segoe UI Light";
}

#footer ul li {
  padding: 10px;
}

#footer ul li a{

  text-decoration: none;
  color: #CCC;
  font-family: "Segoe UI Light";
}

#footer .logo {
  position: relative;
  width: 40%;
  float: left;
  left: -5vh;
}

#footer .honor{
  position: relative; 
    display: table-cell;
    vertical-align: middle;
}
#footer h1{
  top: 7vh;
  position: relative;
  text-align: center;
  font-family: "Segoe UI Light";
}

#footer p
{
  font-size: 15px;
  color: white;
  text-align: center;
  margin:auto;
  font-family: "Segoe UI Light";
  padding-top: 35px;
}

@media only screen and (max-width: 700px)
{
    .content1-3 .content2 
    {
        width: 49.99999%;
        margin: 6px 0;  
    }
    .col-4
    {
      width: 100%;
    }
    #footer h1
    {
      top: 2vh;
      position: relative;
      text-align: center;
      font-family: "Segoe UI Light";
    }

    #footer .logo 
    {
      width: 20%;
      left: 2vh;
    }
}

@media only screen and (max-width: 500px)
{
    .content1-3 .content2 
    {
        width: 100%;
    }
    .col-4
    {
      width: 100%;
    }
}


/*responsive*/


@media screen and (max-width: 600px) 
{
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon 
  {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 320px)
{
  .text
  {
    font-size: 15px;
    font-family: "Segoe UI Light";
    bottom: 280px;
  }

  .btn
  {
    font-size: 15px;
    bottom: 170px;
    width: 40%;
    height: 10%;
    margin-left: 31%;

  }
}

@media screen and (max-width: 360px)
{
  .text
  {
    font-size: 15px;
    font-family: "Segoe UI Light";
    bottom: 350px;
  }

  .btn
  {
    font-size: 15px;
    bottom: 200px;
    width: 40%;
    height: 10%;
    margin-left: 31%;

  }
}

@media screen and (max-width: 412px)
{
  .text
  {
    font-size: 15px;
    font-family: "Segoe UI Light";
    bottom: 350px;
  }

  .btn
  {
    font-size: 15px;
    bottom: 200px;
    width: 40%;
    height: 10%;
    margin-left: 31%;

  }
}

@media screen and (max-width: 320px)
{
  .text
  {
    font-size: 15px;
    font-family: "Segoe UI Light";
    bottom: 300px;
  }

  .btn
  {
    font-size: 15px;
    bottom: 200px;
    width: 40%;
    height: 10%;
    margin-left: 31%;

  }
}

@media screen and (width: 414px)
{
  .text
  {
    font-size: 15px;
    font-family: "Segoe UI Light";
    bottom: 390px;
  }

  .btn
  {
    font-size: 15px;
    bottom: 250px;
    width: 40%;
    height: 10%;
    margin-left: 31%;

  }
}


@media screen and (width: 640px)
{
  .text
  {
    font-size: 18px;
    font-family: "Segoe UI Light";
    bottom: 170px;
  }

  .btn
  {
    font-size: 15px;
    bottom: 100px;
    width: 30%;
    height: 10%;
    margin-left: 35%;

  }
}

@media screen and (width: 768px)
{
  .text
  {
    font-size: 25px;
    font-family: "Segoe UI Light";
    bottom: 550px;
  }

  .btn p
  {
    font-size: 15px;
    bottom: 300px;
    width: 30%;
    height: 10%;
    margin-left: 36%;

  }
}

@media screen and (width: 732px)
{
  .text
  {
    font-size: 25px;
    font-family: "Segoe UI Light";
    bottom: 550px;
  }

  .btn p
  {
    font-size: 15px;
    bottom: 300px;
    width: 30%;
    height: 10%;
    margin-left: 36%;

  }
}

@media screen and (width: 1024px)
{
  .text
  {
    font-size: 30px;
    font-family: "Segoe UI Light";
    bottom: 700px;
  }

  .btn
  {
    font-size: 15px;
    bottom: 450px;
    width: 30%;
    height: 10%;
    margin-left: 36%;

  }
}

@media screen and (width: 732px)
{
  .text
  {
    font-size: 30px;
    font-family: "Segoe UI Light";
    bottom: 200px;
  }

  .btn
  {
    font-size: 15px;
    bottom: 200px;
    width: 30%;
    height: 10%;
    margin-left: 36%;

  }

  .topnav.responsive , .topnav.scrolled {position:relative;}
  .topnav.responsive .icon,   .topnav.scrolled .icon  
  {
    position:absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a,   .topnav.scrolled a 
  {
    float: none;
    display: block;
    text-align: left;
    font-family: "Segoe UI Light";

  }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border-style: none;
    border-radius: 10px;
    width: 80vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-family: "Segoe UI Light";

}

.modal-header {
    border-style: none;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    background-color:#d53d5f;
    color: white;
}

.modal-body {
  background-color: white;
  border-radius: 10px;
  padding: 20px;


}

.modal-body-container {
  position: relative;
  padding: 35px;
  padding-top: 20px;
    
}

.modal-footer {
    border-style: none;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    background-color: #d53d5f;
    color: white;
    margin-bottom: 10vh;
}

.judul-container { 
  height: 85vh;
    display: table;
  background-color: #d53d5f;
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
}

.judul {
  color: white;
  display: table-cell;
    vertical-align: middle;
}

.judul img {
  position: relative;
  object-fit: cover;
  display: block;
    margin: auto;
    width: 40%;
}

.judul .col-9 {
  position: relative;
}

.judul h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 10px
}

.judul p {
  
  font-size: 25px;
}

.kebawah .btn-down {
  margin: 0;
  border: none;
  text-align: center;
  font-family: "Segoe UI Light";
  text-decoration: none;
  
  -webkit-box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
  
  cursor: pointer;
  position: relative;
  background: white;
  left: 45vw;
  border-radius: 50%;
  
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  
  -moz-animation-name: maju-mundur-cantik;
  -webkit-animation-name: maju-mundur-cantik;
  -o-animation-name: maju-mundur-cantik;
  animation-name: maju-mundur-cantik;
  
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.kebawah .btn-down:hover {
  box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.2);
}

@keyframes maju-mundur-cantik {
    0%   {top: -5vh;}
    25%  {top: -6vh;}
    50%  {top: -5vh;}
    75%  {top: -6vh;}
    100% {top: -5vh;}
}

.kardus-title {
  text-align: center;
  font-family: "Segoe UI Light";
  font-weight: bolder;
  font-size: 30px;
}

hr {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 12px;
  width: 20%;
  border-style: none;
  border-radius: 50px;
  background-color: #d53d5f;
}

.cards-container {
  display: table;
  width: 100%;
}

.cards-container .row {
  display: table-row;
}

.cards-container .row .col-4 {
  display: table-cell;
  padding: 16px;
}

.card {
  margin: 10px;
  color: white;
    /* Add shadows to create the "card" effect */
    background-color: #d53d5f;
    box-shadow: 3px 4px 10px 3px rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 6px 8px 20px 3px rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  background-color: #d53d5f;
  padding: 35px;
  padding-top: 20px;
  border-radius: 10px;
    
}

.card img{
  border-radius: 10px 10px 0 0;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Segoe UI Light";
}

.card .btn-modal{
  color: #d53d5f;
  margin: 20px;
  margin-bottom:0;
  border: none;
  text-align: center;
  font-family: "Segoe UI Light";
  text-decoration: none;
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  background: white;
  border-radius: 50px;
}

.btn-modal a
{
  text-decoration: none;
}

.modal .modal-body img {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal table tr td{
  padding-right:  10px;
}

.modal .btn-order{
  vertical-align: middle;
  float: right;
  position: relative;
  margin: auto;
/*  bottom: 10vh;
  left: 50vw;*/
  font-size: 15px;
  color: white;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  text-align: center;
  font-family: "Segoe UI Light";
  text-decoration: none;
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  background: #d53d5f;
  border-radius: 50px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal .btn-order:hover {
  background-color: #ee3d5f;
  box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.2);
}

#kategori .kategori-title{
  margin-bottom: 20px;
  padding: 50px;
  font-size:50px;
  text-align: center;
  font-family: "Segoe UI Light";
  background-color: #d53d5f;
  color: white;
}

@media screen and (max-width: 700px) {
  .card {
    margin: 20px;
    display: block;
    width: 100%;
  }
  .kebawah .btn-down {
    width: 15%;
  }

  .judul {
    text-align: center;
<<<<<<< HEAD
    font-family: "Segoe UI Light";

=======
>>>>>>> f22756c76e5f5b4d659eddbf7d3c1eef82dfccfa
  }

  .judul h4 {
    font-size: 25px;
  }

  .judul p {
    font-size: 20px;
  }
  .judul img {
      left: -25vw;
  }
}